services:
  database:
    image: mysql:5.7
    container_name: mysql_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: university_root_password
      MYSQL_DATABASE: university_db
      MYSQL_USER: root
      MYSQL_PASSWORD: amos123
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - university_network

  php_api:
    build: .
    container_name: university_api_container
    ports:
      - "8080:80"
    depends_on:
      - database
    environment:
      - DB_HOST=database
      - DB_DATABASE=university_db
      - DB_USER=root
      - DB_PASSWORD=amos123
    volumes:
      - .:/var/www/html
    networks:
      - university_network

volumes:
  db_data:

networks:
  university_network:
